.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.login__modal{
    @include make-panel(white,0 5px 10px 0px rgba(0, 0, 0, 0.1),'none',77px 55px 33px 55px);
    width: 280px;
    border-radius: 10px;
    overflow: hidden;
}
.modal{
    width: 100%;
}
.modal__title{
}
.login__title{
    font-size: 35px;
    color: $colorBase;
    display: block;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 25px;
}
.input__pattert{
    width: 100%;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}
.form__input{
    border: none;
    outline: none;
    font-size: 15px;
    height: 45px;
    width: 100%;
}
.form__button__pattern{
    width: 100%;
    display: block;
    
}
.form__button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 15px;
    @include make-button($colorBase,white);
    cursor: pointer;
}
.alert__danger{
    color: red;
    text-align: center;
    margin-bottom: 15px;
}
.login__question{
    text-align: center;
    margin:15px;
}
.question--color{
    color: #666;
    font-size: 13px;
}
.question__a{
    font-size: 13px;
}
.accounts{
    display: flex;
    justify-content: center;
}
.account__section{
    display: flex;
    flex-direction: column;
    min-width: 35%;
    align-items: center;
    @include make-panel(#f4f7fa,0 5px 10px 0px rgba(0, 0, 0, 0.1),'auto','auto');

}
.size__radio{
    height: auto !important;
    text-align: center;
}
.input2{
    display: flex;
    justify-content: center;
}
.recover__title{
    font-size: 30px;
}
.pincode-input-container
{
  .pincode-input-text
  {
    padding:0 !important;
    margin:0 2px;
    text-align:center;
    border: 1px solid;
    background: transparent;
    width: 50px;
    height: 50px;
  }
  .pincode-input-text:focus
  {
    outline:none;
    box-shadow:none;
  }
}