.profile{
    margin:20px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.profile__box{
    border-radius: 2px;
    overflow: hidden;
    width: 500px;
    @include make-panel(white,0 5px 10px 0px rgba(0, 0, 0, 0.1),'none','none');

}
//Box Header
.box__header{
    background: $colorBase;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.header__username{
    font-size: 30px;
}
.header__avatar{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: white;
}
//Box Body
.box__body{
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
.body__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body_titlePin{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.body__pin{
    background: #ececec;
    padding: 10px;
    border-radius: 5px;
    margin:5px;
    text-align: center;
}
.box__footer{
    display: flex;
    justify-content: space-around;
}
.footer__pin{
    display: flex;
    flex-direction: column;
}
.pin__title{
    font-size: 25px;
}
.pin__button{
    background: transparent;
    border:none;
    border:2px solid red;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pin__button:hover{
    background: red;
    border:2px solid red;
    color: white;
    cursor: pointer;
}