.send__view{
        background: white;
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
        margin: 10px;
        padding: 10px;
}
.view__f{
    display: flex;
    min-width: 1000px;
}
.add__title{
    font-size: 20px;
    text-align:center;
}
.add__address{
    display: flex;
    flex-direction: column;
}
.add__cursor{
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    padding:2%;
}
.address_info{
    padding: 5px;
}
.sendView{
    justify-content: center;
    min-width: 100vh;
}
.dash__send{
    display: flex;
    justify-content: center;
}
.dash__send--size{
    width: 80%;
}
.react-tabs__tab{
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
}
.react-tabs__tab:hover {
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
}
.react-tabs__tab--selected{
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
    border: none !important;
}
.react-tabs__tab-list{
    text-align: center;
    border: none !important;
}
.pane__currency{
    
}
.address__pane{

}
.sendView{


}
.table__styles{
    border-collapse: collapse;
}
.ReactTable .rt-tbody .rt-td{
    border:none;
    text-align: center;
    padding: 15px;
}
@media (max-width: 550px) {
    .dash__send--size{
        width: 95%;
    }
    .add__address{
        font-size: 2vh;
    }
 }
@media (max-width: 1024px) {
    .dash__send{
        align-items: center;
    }
 }
 .send{
     width: 100%;
     display: flex;
     flex-direction: column;
 }
.send--center{
    display: flex;
    justify-content: center;
}
 .react-tabs__tab{
     display: flex !important;
     align-items: center !important;
     justify-content:space-around;
     background: white;
     box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
     margin: 10px;
     padding: 10px;
     min-width: 125px;
 }
 .react-tabs__tab-list{
     overflow: hidden !important;
     display: flex;
 }
 .react-tabs__tab--selected{
    background: $colorBase !important;
    color: white !important;
    border:none !important;
    border-radius: 0px !important;
 }
 .tab__display{
     display: flex !important;
     justify-content: space-around;
 }
 .send__pane{
    background: white;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    min-width: 700px;
 }
 .address__pane{
    background: white;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    min-width: 400px;
 }