.dashboard__order{
    flex-wrap: wrap;
    justify-content: flex-start;
}
.dashboard__sell{
    
}
.order{
    display: flex;
    margin:5px;
}
.order__info{
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dashboard__title{
    margin: 5px;
    padding:5px;
    font-size: 30px;
    border-bottom: 2px solid #666;
}
.order__button{
    border-radius: 25px;
    margin: 0 auto;
    width: 50%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 15px;
    background: $colorBase;
    color: white;
    cursor: pointer;
}
.order__buy{
    display: flex;
}
.saleOrders{
    width: 70%;
    margin-right: 5%;
}
.sale{
    width: 25%;
}
.align__aviable{
    display: flex;
    justify-content: center;
}